name: CMake

on:
  workflow_dispatch:
    inputs:
      parallel-tests:
        type: boolean
        default: true
        description: "Run tests in parallel"

concurrency:
  group: ${{ github.workflow }}-ci-debug-workflows
  cancel-in-progress: true

jobs:
  run_tests:
    name: Run core-tests on ${{ matrix.system.os }} with ${{ matrix.system.toolset }}, ${{matrix.cfg.BUILD_TYPE}} ${{ matrix.cfg.SANITIZER }}
    continue-on-error: true
    strategy:
      matrix:
        system:
          - os: ubuntu-latest
            toolset: gcc
            env: CXX=g++-10

          - os: ubuntu-latest
            toolset: llvm-clang
            env: CXX=clang++-20 CXXFLAGS="-stdlib=libc++" LDFLAGS="-lc++abi"

          - os: macos-latest
            toolset: apple-clang
            env: CXX=clang++

        cfg:
          - { BUILD_TYPE: Release }
          - { BUILD_TYPE: Debug }
          - { BUILD_TYPE: Debug, SANITIZER : ADDRESS }
          - { BUILD_TYPE: Debug, SANITIZER : UB }

    runs-on: ${{ matrix.system.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "ci-debug/workflows"
          fetch-depth: 0

      - name: Install dependencies
        uses: ./.github/composite-actions/install-dependencies
        with:
          os: ${{ matrix.system.os }}
          toolset: ${{ matrix.system.toolset }}

      - name: Download datasets
        uses: ./.github/composite-actions/download-datasets

      - name: Build
        shell: bash
        run: |
          export ${{ matrix.system.env }}

          if [[ "${{matrix.cfg.BUILD_TYPE}}" == "Debug" ]]; then
            ./build.sh --debug --sanitizer=${{ matrix.cfg.SANITIZER }}
          else
            ./build.sh
          fi

      - name: Test
        working-directory: ${{github.workspace}}/build
        shell: bash
        run: |
          export ${{ matrix.system.runtime-env }}

          if [[ "${{ inputs.parallel-tests }}" != "false" ]]; then
            if command -v nproc >/dev/null 2>&1; then
              CORES="$(nproc)"
            else
              CORES="$(sysctl -n hw.ncpu)"
            fi
            export CTEST_ARGS="-j ${CORES} --output-on-failure -V"
          fi

          ctest --exclude-regex ".*HeavyDatasets.*" $CTEST_ARGS
